[submodule "provisioning/roles/ansible_role_extra_repositories"]
	path = provisioning/roles/ansible_role_extra_repositories
	url = https://github.com/budnerp/ansible_role_extra_repositories.git
[submodule "provisioning/roles/ansible_role_apache2"]
	path = provisioning/roles/ansible_role_apache2
	url = https://github.com/budnerp/ansible_role_apache2.git
[submodule "provisioning/roles/ansible_role_selinux"]
	path = provisioning/roles/ansible_role_selinux
	url = https://github.com/budnerp/ansible_role_selinux.git
[submodule "provisioning/roles/ansible_role_php72"]
	path = provisioning/roles/ansible_role_php72
	url = https://github.com/budnerp/ansible_role_php72.git
[submodule "provisioning/roles/ansible_role_common"]
	path = provisioning/roles/ansible_role_common
	url = https://github.com/budnerp/ansible_role_common.git
[submodule "provisioning/roles/ansible_role_php72_xdebug"]
	path = provisioning/roles/ansible_role_php72_xdebug
	url = https://github.com/budnerp/ansible_role_php72_xdebug.git
[submodule "provisioning/roles/ansible_role_mysql"]
	path = provisioning/roles/ansible_role_mysql
	url = https://github.com/budnerp/ansible_role_mysql.git
[submodule "provisioning/roles/ansible_role_docker_ce"]
	path = provisioning/roles/ansible_role_docker_ce
	url = https://github.com/budnerp/ansible_role_docker_ce.git
[submodule "provisioning/roles/ansible_role_docker_rabbitmq"]
	path = provisioning/roles/ansible_role_docker_rabbitmq
	url = https://github.com/budnerp/ansible_role_docker_rabbitmq.git
[submodule "provisioning/roles/ansible_role_rabbitmq"]
	path = provisioning/roles/ansible_role_rabbitmq
	url = https://github.com/budnerp/ansible_role_rabbitmq.git
[submodule "provisioning/roles/ansible_role_git"]
	path = provisioning/roles/ansible_role_git
	url = https://github.com/budnerp/ansible_role_git.git
[submodule "provisioning/roles/ansible_role_redis"]
	path = provisioning/roles/ansible_role_redis
	url = https://github.com/budnerp/ansible_role_redis.git
[submodule "provisioning/roles/ansible_role_mailcatcher"]
	path = provisioning/roles/ansible_role_mailcatcher
	url = https://github.com/budnerp/ansible_role_mailcatcher.git
[submodule "provisioning/roles/ansible_role_magento23_community"]
	path = provisioning/roles/ansible_role_magento23_community
	url = https://github.com/budnerp/ansible_role_magento23_community.git
[submodule "provisioning/roles/ansible_role_siege"]
	path = provisioning/roles/ansible_role_siege
	url = https://github.com/budnerp/ansible_role_siege.git
[submodule "provisioning/roles/ansible_role_jenkins"]
	path = provisioning/roles/ansible_role_jenkins
	url = https://github.com/budnerp/ansible_role_jenkins.git
[submodule "provisioning/roles/ansible_role_java8"]
	path = provisioning/roles/ansible_role_java8
	url = https://github.com/budnerp/ansible_role_java8.git
[submodule "provisioning/roles/ansible_role_nginx"]
	path = provisioning/roles/ansible_role_nginx
	url = https://github.com/budnerp/ansible_role_nginx.git
[submodule "provisioning/roles/ansible_role_magento23"]
	path = provisioning/roles/ansible_role_magento23
	url = https://github.com/budnerp/ansible_role_magento23.git
