[submodule "provisioning/roles/ansible_role_extra_repositories"]
	path = provisioning/roles/ansible_role_extra_repositories
	url = https://github.com/budnerp/ansible_role_extra_repositories.git
[submodule "provisioning/roles/ansible_role_apache2"]
	path = provisioning/roles/ansible_role_apache2
	url = https://github.com/budnerp/ansible_role_apache2.git
[submodule "provisioning/roles/ansible_role_selinux"]
	path = provisioning/roles/ansible_role_selinux
	url = https://github.com/budnerp/ansible_role_selinux.git
[submodule "provisioning/roles/ansible_role_php72"]
	path = provisioning/roles/ansible_role_php72
	url = https://github.com/budnerp/ansible_role_php72.git
[submodule "provisioning/roles/ansible_role_commons"]
	path = provisioning/roles/ansible_role_commons
	url = https://github.com/budnerp/ansible_role_commons.git
