[submodule "provisioning/roles/ansible_role_extra_repositories"]
	path = provisioning/roles/ansible_role_extra_repositories
	url = https://github.com/budnerp/ansible_role_extra_repositories.git
[submodule "provisioning/roles/ansible_role_apache2"]
	path = provisioning/roles/ansible_role_apache2
	url = https://github.com/budnerp/ansible_role_apache2.git
[submodule "provisioning/roles/ansible_role_selinux"]
	path = provisioning/roles/ansible_role_selinux
	url = https://github.com/budnerp/ansible_role_selinux.git
[submodule "provisioning/roles/ansible_role_php72"]
	path = provisioning/roles/ansible_role_php72
	url = https://github.com/budnerp/ansible_role_php72.git
[submodule "provisioning/roles/ansible_role_common"]
	path = provisioning/roles/ansible_role_common
	url = https://github.com/budnerp/ansible_role_common.git
[submodule "provisioning/roles/ansible_role_php72_xdebug"]
	path = provisioning/roles/ansible_role_php72_xdebug
	url = https://github.com/budnerp/ansible_role_php72_xdebug.git
[submodule "provisioning/roles/ansible_role_mysql"]
	path = provisioning/roles/ansible_role_mysql
	url = https://github.com/budnerp/ansible_role_mysql.git
[submodule "provisioning/roles/ansible_role_docker_ce"]
	path = provisioning/roles/ansible_role_docker_ce
	url = https://github.com/budnerp/ansible_role_docker_ce.git
[submodule "provisioning/roles/ansible_role_docker_rabbitmq"]
	path = provisioning/roles/ansible_role_docker_rabbitmq
	url = https://github.com/budnerp/ansible_role_docker_rabbitmq.git
[submodule "provisioning/roles/ansible_role_rabbitmq"]
	path = provisioning/roles/ansible_role_rabbitmq
	url = https://github.com/budnerp/ansible_role_rabbitmq.git
[submodule "provisioning/roles/ansible_role_git"]
	path = provisioning/roles/ansible_role_git
	url = https://github.com/budnerp/ansible_role_git.git
